@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
  font-family: "Poppins";
}

body {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  display: cover;
}

.App {
  color: #000000;
}

.button-group {
  padding: inherit;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul li {
  list-style: none;
  padding: 5px;
}

Link {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3d348b;
  padding: 10px;
  width: 45%;
  border-radius: 25px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #fff;
}

.disabled {
  background-color: grey;
  /* background-color: Transparent; */
}

.active {
  background-color: green;
}

button:hover {
  /* color: white; */
  /* background-color: rgb(200, 69, 200); */
  cursor: pointer;
}

h1 {
  font-size: 50px;
  padding: 0 20px 0 20px;
}

p {
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

tr , th , td  {
  border: 1px solid black;
  padding: 5%;
  text-align: center;
}

.leaderboard {
  background-color: #3d348b;
  font-size: 15px;
  /* width: 100%; */
  text-align: center;
}

.table-title {
  background-color: #fff;
}

.leader {
  background-color: green;
  color: #fff;
}

table {
  width: 100%;
}

.mentioned {
  color: #fff;
}