@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* CSS for each component*/
@import "./css/start.css";
@import "./css/notFound.css";
@import "./css/users-login.css";
@import "./css/home.css";

/* Remove default settings from browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pangolin";
  font-size: 35px;
}

/* Remove the scroll white space */
html {
  overflow: hidden;
}

body {
  text-align: center;
}

.game-container {
  background: url(./images/purty_wood.png);
  height: 100vh;
  width: 100vw;
}

.App {
  color: #000000;
}

/* Button Styling */

.button-group {
  padding: inherit;
}

.special-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0 20px;
}
.special-button {
  background-color: yellow;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-align: center;
}
button {
  background-color: #3d348b;
  padding: 3px;
  width: 90vw;
  max-width: 500px;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.disabled {
  background-color: grey;
}

.active {
  background-color: green;
}

button:hover {
  cursor: pointer;
}

.warning {
  background-color: orange;
}

span.emoji {
  font-size: 35px;
}

.quiz-header {
  font-size: 35px;
}


.App-link {
  color: #61dafb;
}

ul li {
  list-style: none;
  padding: 5px;
}

a {
  width: 100%;
}

h1 {
  font-size: 30px;
  padding: 0 20px 0 20px;
  max-width: 100%;
}

p {
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

tr,
th,
td {
  border: 1px solid black;
  padding: 5%;
  text-align: center;
}

.leaderboard {
  background-color: #3d348b;
  font-size: 15px;
  text-align: center;
}

.table-title {
  background-color: #fff;
}

.leader {
  background-color: green;
  color: #fff;
}

table {
  width: 100%;
}

.mentioned {
  color: #fff;
}

.danger {
  background-color: red;
}
.danger:hover {
  background-color: rgb(165, 26, 26);
}

/* form styling */

.form-container {
  width: 90vw;
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  margin-top: 45px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid #000;
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 90%;
}

.form-input {
  padding: 5px;
  border-radius: 11px;
  background-color: #f0f0f0;
  border: 2px solid;
  color: #000;
}
.form-label {
  color: #7b7979;
  display: flex;
  justify-content: flex-start;
}
.form-error-message {
  font-size: 15px;
  color: red;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding-top: 20px;
  margin: auto;
}
.form-button {
  margin: 10px;
}
.submit-button {
  margin-bottom: 10px;
}
.alert-text {
  font-size: 35px;
  color:rgb(255, 4, 4)
}

/* Adjust form when on login and create screen */
@media only screen and (max-width: 450px) {
  .form-button-container {
    flex-direction: column;
  }
  .form-container {
    max-height: 400px;
    margin-top: 136px;
  }
}
