@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
  font-family: "Poppins";
}

body {
  text-align: center;
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

img {
  width: 100%;
  height: 100%;
  display: cover;
}

.App {
  color: #fff;
}

.button-group {
  padding: inherit;
}

.category-buttons {
  padding: 10px;
  width: 35%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul li {
  list-style: none;
  padding: 5px;
}

Link {
  text-decoration: none;
  color: white;
}

button:hover {
  /* color: white; */
  /* background-color: rgb(200, 69, 200); */
  cursor: pointer;
}

h1 {
  font-size: 50px;
}